<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>service page</title>
</head>
<body style="text-align:center">
    {% include 'navbar.html' %}
    <h1>.........Services we provide.......</h1>
    <ul>
        <li>program for student data management</li>
        <li>program for calculator</li>
        <li>program for making resume for job</li>
    </ul>

</body>
</html>